.modal-overlay {
  position: fixed;

  top: 15%;
  left: 2%;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  background-color: #000000;
  /* padding: 20px; */
  position: absolute;
  top: 10%;
  left: 80%;

  line-height: 1.4;
  background: #000000;
  padding: 14px 20px;
  border-radius: 3px;
  max-width: 1800px;
  min-width: 700px;
  overflow: scroll;
  min-height: 400px;
  border-radius: 10px;
  color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-gutter: none;
  z-index: 999;
  font-family: "baskerville";
  scrollbar-width: none;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1000px) {
  .modal-content {
    min-width: 600px;
  }
}
@media screen and (max-width: 700px) {
  .modal-content {
    width: calc(100vw - 10px);
    height: 100vh;
    position: fixed;
    top: 0 !important;
    left: 0 !important;
 
  
  }

  .close-button {
    right: 20px !important;
  }
}

.close-button {
  color: white;
  position: absolute;
  top: 20px;
  right: 0px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

.open-button {
  font-size: 40px;
  border-radius: 50%;
  border: none;
  background-color: #000000;
  /* filter: grayscale(1); */
  cursor: pointer;
  transition: all .3s;
  align-items: center;
  text-align: center;
  height: 70px;
  width: 70px;
  padding-top: 10px;
}

.open-button img {
  width: 50px;

  filter: invert();
}

.open-button.unread {
  border: solid 4px orange;
}

.open-button:hover {
  font-size: 40px;
  border-radius: 50%;

  background-color: #333333;

  cursor: pointer;
  transition: all .3s;
}
