body.active-modal {
  overflow-y: hidden;
}

button {
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 5px auto 0;
  font-size: 18px;
  z-index: 2;
  font-family: "baskerville";
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 3;
}

.overlay {
  background: rgba(28, 28, 29, 0.849);
}
.modal-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #131212;
  padding: 14px 20px;
  border-radius: 3px;
  max-width: 1800px;
  min-width: 700px;
  overflow: scroll;
  max-height: 85%;
  min-height: 400px;
  border-radius: 10px;
  color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-gutter: none;
  z-index: 5;
  font-family: "baskerville";
  scrollbar-width: none;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 800px) {
  .modal-content {
    min-width: 60%;
  }
}
/* .modal-content::-webkit-scrollbar {
  display: none;
} */

.close-modal {
  position: absolute;
  top: -47%;
  left: 350px;
  padding: 5px 7px;
  display: none;
  /* filter: opacity(0%); */
}
