/* @media screen and (min-width: 1500px) {
  .clan-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(10px, 1fr));
    margin-top: -50px !important;
    max-width: 1700px;
    margin-right: 8%;
    transition: all .5s;
    gap: 10px;
  }
} */

.clan-container {
  margin-top: 100px;
  max-width: 1500px;
  
}
