.handbook {
  display: block;

  width: 100%;
  height: 100%;
  z-index: 99999;
}

.pdf {
  width: 1500px;
  height: 1100px;
}

@media screen and (max-width: 1000px) {
  .pdf {
    width: 800px;
    height: 1000px;
  }
}

@media screen and (max-width: 500px) {
  .pdf {
    width: 400px;
    height: 600px;
  }
}
