.player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use full screen height */
}

.row-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; /* Spacing between the items */
}

.column {
  width: 40px; /* Set according to the size of your menu item */
  height: 40px;
  text-align: center;
  transition: transform 0.3s; /* Animation effect */
}



.modal-wrapper-cont {
  position: fixed !important;
  top: 120px !important;
  left: 0px;
}

.clear-id {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: black;
  color: wheat;
  border: none;
  height: 40px;
  border-radius: 15px;
  font-weight: bold;
}

.player-apps {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.character-name {
  position: absolute;
  left: 10px;
  top: 110px;
  font-size: 30px;
  font-family: "diablo";
  text-align: center;
  color: white;
}
