.message-container-relative {
}
.message-container {
  background-color: #1d1d20;
  color: #fff;
  height: 75vh;
  /* padding: 20px; */
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 700px;
  margin-top: 0px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-gutter: none;
  scrollbar-width: none;

  height: 60vh;
  filter: none;
}
.phone-app-container {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .message-container {
    height: 85vh;
    min-width: none;
  }
}

.unread-notice {
  font-family: "poppins";
  height: 20px !important;
  font-size: 15px;
  color: orange;
}

.message-container::-webkit-scrollbar {
  display: none;
}

.message-header {
  display: flex;
  background-color: #0a0a0a;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "baskerville";
}

.sender-menu-header {
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: "Baskerville";
  color: orange;
}

.timestamp {
  text-align: center;
  color: rgba(255, 255, 255, 0.445);
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}
.message-list {
  list-style-type: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  max-height: 80vh;
  overflow-y: auto;
}

.messages-list-content {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  max-height: 80vh;
  overflow-y: auto;
}

.sender-list span {
  color: red;
  font-size: 20px;
  margin-right: 10px;
}

.add-btn {
  color: greenyellow;
  font-size: 15px;
  text-align: center;
  display: flex;
  border-radius: 10px !important;
  transition: all .3s;
}

.edit-btn {
  background-color: #2d2d30;
  border: none;
  border-radius: 10px;
  width: 86%;
  display: flex;
  margin-left: 7px;
  color: white;
  text-align: center;
  align-items: center;
  padding-left: 90px;
  height: 30px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  /* Ensure modal is above all other content */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.add-input {
  display: flex;
  flex-direction: row;

  background-color: #2d2d30;
  color: white;

  width: 170px;
  border: none;

  margin-right: 0px;
  padding: 5px;
  border-radius: 10px;
}
.add-btn-close {
  color: red;
  font-size: 15px;
  text-align: center;
  display: flex;
  border-radius: 10px !important;
  transition: all .3s;
}

.add-input-container {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.add-input-button {
  background-color: yellowgreen;
  color: black;
  margin-left: 10px;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  font-weight: bolder;
  font-size: 18px;
}

.modal-content {
  width: 80%; /* or any desired width */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.message-header img {
  margin-left: 10px;
}

.message-item {
  background-color: #571c12;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: fit-content;
  margin-left: 20px;
  box-shadow: #000000c9 0px 0px 2px;
}

.message-item.me {
  background-color: #4e4e53;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: fit-content;
  align-self: flex-end !important; /* This ensures the item goes to the right */
  margin-right: 20px;
  box-shadow: #000000c9 0px 0px 2px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.493);
  /* Adjust z-index if needed */
}

.sender-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px; /* You can adjust this as needed */
  background-color: #2a2a2c;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  /* Ensure the menu is above the overlay */
  transition: all 0.3s;
}

/* .sender-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 12px;
} */

.sender-list li {
  padding: 10px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  background-color: #2d2d30;
  margin: 5px;
  width: 80%;
}

.sender-list li:hover {
  background-color: rgb(40, 40, 41);
}

.hamburger-menu {
  cursor: pointer;
  margin-right: 10px;
}

.message-container-relative {
  position: relative;
  width: 100%; /* or whatever you prefer */
}

.menu-overlay {
  position: absolute; /* changed from fixed to absolute */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.575);
}

.sender-menu {
  position: absolute; /* changed from fixed to absolute */
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px; /* You can adjust this as needed */
  background-color: #000000;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in-out;
}

.sender-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #050505;
}

/* .sender-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #5a5a5c;
} */

.hamburger-menu {
  cursor: pointer;
  margin-right: 40px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-item.sent-by-user {
  justify-content: flex-end;
}

.message-item.sent-by-user .message-container {
  background-color: darkred;
}

.message-item.sent-by-user .profile-pic {
  display: none; /* hide image for user's own messages */
}

.send-form {
  display: flex !important;
  justify-content: center;
  align-items: center !important; /* This ensures vertical alignment */
  width: 100%;
  background-color: #030303;
}
.send-form input {
  background-color: #1d1d20;
  color: white;
  border: none;
  height: 40px;
  margin: 15px;
  border-radius: 20px;
  width: 40%;
  padding-left: 15px;
  transition: all .5s;
  width: 60%;
}
.send-form input:focus {
  transition: all .5s;
  border: none;
}
.send-form button {
  background-color: #571c12;
  border: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.bar-symbols {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-top: 3px;
  float: right;
}

.upper-bar-symbol {
  margin: 3px;
  filter: invert(1);
  height: 20px;
  width: 20px;
}

.upper-bar-container {
  background-color: #000000;
  /* display: flex;
  flex-direction: row;
   */

  width: 100%;
}

.bar-time {
  display: flex;
  float: left;
  justify-self: flex-start;
  margin-left: 10px;
  font-family: 'poppins';
  font-weight: bold;
}
